name: Build and push docker

on:
  workflow_call:
    inputs:
      docker-dir:
        required: true
        type: string
      setup-path:
        required: true
        type: string

permissions:
  contents: read


jobs:
  release-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: get version
        id: get_version
        run: |
          export VER=$(grep '__version__ *=' ${{ inputs.setup-path }} | sed -E "s/__version__ *= *['\"]([^'\"]*)['\"]/\1/")
          echo "VER=$VER" >> "$GITHUB_OUTPUT"         
      - uses: mikefarah/yq@v4
      - name: Build
        run: |
          cd ${{ inputs.docker-dir }}
          docker buildx create --use --name builder || true
          docker buildx inspect --bootstrap
          docker compose build
      - name: Tag & push
        uses: mikefarah/yq@v4
        env:
          VER: ${{ steps.get_version.outputs.VER }}
        run: |
            cd ${{ inputs.docker-dir }}
            docker compose config \
            | yq -r '.services[]
                | select(.build != null)
                | .image' \
            | sort -u \
            | while read img; do
                echo "Publishing $img and $img:$VER"
                docker push "$img"
                docker tag "$img" "$img:$VER"
                docker push "$img:$VER"
              done

