name: Build and push docker

on:
  workflow_call:
    inputs:
      docker-dir:
        required: true
        type: string
      setup-path:
        required: true
        type: string

permissions:
  contents: read


jobs:
  release-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Build
        if: false
        run: |
          cd ${{ inputs.docker-dir }}
          docker buildx create --use --name builder || true
          docker buildx inspect --bootstrap
          docker compose build
      - name: get version
        id: get_version
        run: |
          export VER=$(grep '__version__ *=' ${{ inputs.setup-path }} | sed -E "s/__version__ *= *['\"]([^'\"]*)['\"]/\1/")
          echo "VER=$VER" >> "$GITHUB_OUTPUT"         
      - name: Install yq
        uses: mikefarah/yq@v4
      - name: push latest and VER
        env:
          VER: ${{ steps.get_version.outputs.VER }}
        run: |
            cd ${{ inputs.docker-dir }}
            touch .env
            docker compose config \
            | yq -r '.services[]
                | select(.build != null)
                | .image'\
            | sort -u \
            | while read img; do
                # Extract base image name and tag
                base="${img%%:*}"
                tag="${img#*:}"
                # If there was no colon, tag == img, so set tag to empty
                [[ "$tag" == "$img" ]] && tag=""
                
                echo "Found image: $img (base: $base, tag: $tag)"
                # Always push the image as-is
                echo "Pushing original image: $img"
                
                # Only tag with version if untagged or latest
                if [[ -z "$tag" || "$tag" == "latest" ]]; then
                    echo "Tagging $base with version $VER"
                else
                    echo "Skipping version tag for $img (already tagged)"
                fi
              done

