name: Build and push docker

on:
  workflow_call:
    inputs:
      docker-dir:
        required: true
        type: string
      setup-path:
        required: true
        type: string

permissions:
  contents: read


jobs:
  release-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Build
        id: build
        run: |
          cd ${{ inputs.docker-dir }}
          docker buildx create --use --name builder || true
          docker buildx inspect --bootstrap
          IMG=$(docker compose build --quiet jaix)
          echo IMG=$IMG" >> "$GITHUB_OUTPUT" 
      - name: get version
        id: get_version
        run: |
          export VER=$(grep '__version__ *=' ${{ inputs.setup-path }} | sed -E "s/__version__ *= *['\"]([^'\"]*)['\"]/\1/")
          echo "VER=$VER" >> "$GITHUB_OUTPUT"         
      - name: push latest and VER based on local images
        env:
          VER: ${{ steps.get_version.outputs.VER }}
          IMG: ${{ steps.build.outputs.IMG }}
        run: |
            for img in $IMG; do
                # Split repo and tag
                repo="${img%%:*}"
                tag="${img##*:}"
                
                echo "Found image: $img (repo: $repo, tag: $tag)"
               
                echo "Push $img"               
                # Only tag with version if untagged or latest
                if [[ "$tag" == "latest" || "$tag" == "<none>" ]]; then
                    echo "Push $repo:$VER"
                else
                    echo "Push $img-$VER"
                fi
              done


